.modal-div-cart {
    margin-bottom: 10px;
    border-bottom: 1px #e6e6e6 dashed
}
.modal-top {
    padding-right: 0
}
.modal-top img {
    width: 100%;
    height: 60px
}
.modal-body-p1 {
    margin-bottom: 5px;
    font-size: 0.875rem
}
.modal-body-p2 {
    font-size: 1rem
}
.modal-body-a {
    color: #333;
    text-decoration: none;
}
.modal-body-a:hover{
    text-decoration: none;
}
