@charset "utf-8";
/* CSS Document */
*, .box_sizing_border_box, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #f9d686;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
* {
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-decoration: none
}
*:focus {
	outline: 0 !important;
	box-shadow: none !important;
}
@font-face {
	font-family: 'iCielBCCubano';
	src: url("../fonts/iCielBCCubano.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
.f-iCielBCCubano {
	font-family: 'iCielBCCubano';
}
@font-face {
	font-family: 'UTMCafeta';
	src: url("../fonts/UTMCafeta.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
.f-UTMCafeta {
	font-family: 'UTMCafeta';
}
@font-face {
	font-family: 'VLRESO';
	src: url("../fonts/VLRESO.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
.f-VLRESO {
	font-family: 'VLRESO';
}
body {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	background: none;
	font-family: 'UTMCafeta', sans-serif, Verdana, Tahoma;
	font-size: 24px;
}
body, html {
	padding: 0;
	margin: 0;
	background: #7d1d12;
	position: relative;
	height: 100%;
	color: #fff;
}
ul {
	list-style: none;
	margin: 0
}
a {
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	text-decoration: none;
}
.wrapper {
	transform-origin: top left;
	position: absolute;
	overflow: hidden;
	margin: 0 auto;
	width: 2000px;
}
.container {
	display: block;
	margin: 0 auto;
	width: 1334px;
	height: 100%;
	position: relative;
	max-width: 1334px;
}
.frame {
	width: 100%;
	max-width: 960px;
	height: auto;
	position: relative;
	margin: 0 auto;
}
.opacity-5 {
	opacity: 0.5;
}
.zoom {
	transition: transform .2s;
	/* Animation */
}
.zoom:hover {
	transform: scale(1.1);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom-50 {
	transition: transform .3s;
	/* Animation */
}
.zoom-50:hover {
	transform: scale(1.05);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.brightness:hover {
	filter: brightness(1.2)
}
.section {
	position: relative;
	display: block;
	max-width: 100%
}
.section-background {
	position: absolute;
	display: block;
	width: 100%;
	margin: 0 auto;
	top: 0;
	left: 0;
}
.section-content {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}
@media (max-width: 960px) {
	.desktop {
		display: none !important
	}
	.mobile {
		display: block !important
	}
	.container {
		width: 100%;
		max-width: 100%;
	}
	.wrapper {
		width: 960px;
	}
	body {
		font-size: 36px;
	}
}
@media (max-width: 575px) {
	.frame {
		max-width: calc(100% - 5px * 2)
	}
}
/* @media (orientation: portrait) {
	.frame {
		max-width: calc(100% - 10px * 2)
	}
	.wrapper {
		width: 960px;
	}

} */
.cursor-pointer {
	cursor: pointer;
}
.text-red {
	color: #fd0303 !important;
}
.text-blue {
	color: #3154c5 !important;
}
.text-purple {
	color: #b903fd !important;
}
.pointer-events-none {
	pointer-events: none;
}
.fs-20 {
	font-size: 20px;
}
/*----------------------------Header---------------------------------*/
.header {
	background: url(../homepage/images/bg-menu-top.png) top center no-repeat;
	height: 144px;
	width: 2000px;
	display: block;
	vertical-align: text-bottom;
	transform-origin: top left;
}
.header ul li {
	padding-left: 16px;
	padding-right: 16px;
}
.header ul li a {
	color: #fff;
	font-family: 'VLRESO', arial, tahoma, verdana;
	font-size: 20px;
}
.header ul li a:hover {
	color: #fdfd88;
}
.header ul li a.active {
	color: #fdfd88;
}
.header-headroom.headroom--not-top {
	position: fixed;
}
.header-headroom.headroom--not-top .logo {
	transform: scale(0.9) translateY(0.225rem);
}
.header .logo {
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	transition: all 0.2s ease-in-out;
	transform-origin: top center;
	width: 203px;
	height: 97px;
	margin: 0 auto;
}
.navbar-nav {
	flex-direction: row;
}
.header .logo img {
	width: 13rem;
}
.navbar > .frame {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
}
.header .navbar .dropdown-menu {
	background-color: rgba(31, 4, 1, .8);
}
.header .navbar .dropdown-menu li {
	padding: 0;
}
.header .navbar .dropdown-menu .dropdown-item:hover {
	background-color: rgba(190, 64, 30, .8);
	color: #fff;
}
.header .navbar .nav-link:focus {
	color: #fdfd88;
}
@media (max-width: 960px) {
	.header {
		background: url(../homepage/images/bg-menu-top-m.png) top center no-repeat;
		height: 216px;
		width: 960px;
		background-size: 100%;
		display: block;
		transform-origin: top left;
	}
	.header .logo {
		width: 260px;
		height: 110px;
	}
	.header .logo img {
		width: 100%;
	}
	.header .dropdown-toggle::after {
		display: none;
	}
	.header .navbar-nav .dropdown-menu {
		position: absolute;
	}
}
/*----------------------------Page1---------------------------------*/
.section-frame1 {
	height: 1835px;
	overflow: hidden;
	z-index: 100;
}

.section-frame1 .art-main {
	position: absolute;
	top: 124px;
	right: 0;
	left: 0;
	text-align: center;
	z-index: 9;
	pointer-events: none;
	 animation: moveYDiv1 3s ease-in-out infinite;
}
.section-frame1 .main-s1 {
	margin-top: 560px;
	overflow: hidden;
	width: 100%;
}
.section-frame1 .main-s1 .main-s1-left, .section-frame1 .main-s1 .main-s1-right {
	position: relative;
	z-index: 10;
	text-align: center;
}
.section-frame1 .main-s1 .main-s1-left .bg-taigame {
	z-index: 7;
	left: 8px;
}
.section-frame1 .main-s1 .main-s1-left .taigame a {
	position: relative;
	z-index: 8;
}
.section-frame1 .main-s1 .main-s1-left .napthe {
	margin-top: -160px;
	text-align: center;
	position: relative;
	z-index: 9;
}
.section-frame1 .main-s1 .main-s1-left .frame-social {
	width: 413px;
	height: 918px;
	background: url("../homepage/images/frame-social.png") no-repeat;
	background-size: 100%;
	margin-top: -160px;
	padding: 64px;
	margin-left: auto;
	margin-right: auto;
}
.section-frame1 .main-s1 .main-s1-left .login {
	margin-top: 28px;
	position: relative;
	z-index: 15;
}
.section-frame1 .main-s1 .main-s1-left .login .btn-login {
	margin-top: -8px;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social h4 {
	margin-top: 32px;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .facebook {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/icon-facebook.png") no-repeat;
	background-size: 100%;
	display: block;
	margin: 6px auto;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .facebook:hover {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/icon-facebook-hover.png") no-repeat;
	background-size: 100%;
	display: block;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .group {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/group.png") no-repeat;
	background-size: 100%;
	display: block;
	margin: 6px auto;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .group:hover {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/group-hover.png") no-repeat;
	background-size: 100%;
	display: block;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .ytb {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/ytb.png") no-repeat;
	background-size: 100%;
	display: block;
	margin: 6px auto;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .ytb:hover {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/ytb-hover.png") no-repeat;
	background-size: 100%;
	display: block;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .tiktok {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/tiktok.png") no-repeat;
	background-size: 100%;
	display: block;
	margin: 6px auto;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .tiktok:hover {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/tiktok-hover.png") no-repeat;
	background-size: 100%;
	display: block;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .cskh {
	width: 68px;
	height: 113px;
	background: url("../homepage/images/cskh.png") no-repeat;
	background-size: 100%;
	display: block;
	margin: 6px auto;
}
.section-frame1 .main-s1 .main-s1-left .frame-social .social .cskh:hover {
	width: 68px;
	height: 110px;
	background: url("../homepage/images/cskh-hover.png") no-repeat;
	background-size: 100%;
	display: block;
}
.section-frame1 .main-s1 .main-s1-right .banner {
	width: 768px;
	height: 397px;
	background: url("../homepage/images/frame-slider.png") no-repeat;
	background-size: 100%;
	margin-top: 100px;
}
.section-frame1 .main-s1 .main-s1-right .banner .swiper {
	width: 100%;
	height: 100%;
}
.section-frame1 .main-s1 .main-s1-right .banner .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-frame1 .main-s1 .main-s1-right .banner .swiper-slide img {
	display: block;
	width: 97%;
	height: 92%;
	object-fit: cover;
}
.section-frame1 .main-s1 .main-s1-right .banner .swiper-pagination {
	text-align: right;
	padding-right: 48px;
	padding-bottom: 8px;
}
.section-frame1 .main-s1 .main-s1-right .banner .swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background-color: #e75d2d;
	border: solid 1px #fff;
}
.section-frame1 .main-s1 .main-s1-right .news {
	width: 831px;
	height: 760px;
	background: url("../homepage/images/frame-news.png") no-repeat;
	background-size: 100%;
	margin-top: 0;
	margin-left: -30px;
	overflow: auto
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news {
	margin: 8px;
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news a {
	font-size: 26px;
	color: #ffb5a7;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0 32px;
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news a:hover, .section-frame1 .main-s1 .main-s1-right .news .tab-news a.active {
	font-size: 26px;
	color: #fffcc8;
	text-shadow: 1px 1px 10px #ff8400, 1px 1px 10px #ff8400;
	text-transform: uppercase;
	font-weight: 300;
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news .form-search {
	margin-left: 140px;
	position: relative;
	width: 300px;
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news .form-search .form-control {
	border-right: none;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	border-color: #fae7bb;
	color: #fae7bb;
	font-size: 20px;
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news .form-search .form-control::placeholder {
	color: #fae7bb;
}
.section-frame1 .main-s1 .main-s1-right .news .tab-news .form-search .input-group .btn {
	border: solid 1px #fae7bb;
	border-left: none;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	margin: 0;
	padding: 0
}
.section-frame1 .main-s1 .main-s1-right .news .content-news {
	color: #332e1b;
	width: 99%;
	margin: 32px auto;
	text-align: start;
	height: 83%;
	overflow: auto;
}
.section-frame1 .main-s1 .main-s1-right .news .content-news .title a {
	color: #263c4a;
	font-size: 24px;
	font-weight: bold;
}
.section-frame1 .main-s1 .main-s1-right .news .content-news .row {
	border-bottom: dashed 1px #7f7f7f;
	width: 90%;
	margin: 16px auto;
	position: relative;
}
.section-frame1 .main-s1 .main-s1-right .news .content-news .row .thumb img {
	width: 180px;
}
.pagination .page-link {
	color: #263c4a;
}
.pagination .page-link.active {
	color: #fff;
	background-color: #0a1c39;
	border: none;
}
@media (max-width: 960px) {
	.section-frame1 {
		height: 1608px;
	}
	.section-frame1 .main-s1 .main-s1-left {
		display: none;
	}
	.section-frame1 .main-s1 .main-s1-right {
		margin: 0 auto;
	}
	.section-frame1 .main-s1 .main-s1-right .banner {
		margin: 0 auto;
		width: 935px;
		height: 486px;
	}
	.section-frame1 .main-s1 .main-s1-right .news {
		margin: 0 auto;
		width: 935px;
		height: 830px;
	}
	.section-frame1 .main-s1 {
		margin-top: 230px;
	}
	.section-frame1 .main-s1 .main-s1-right .news .tab-news a, .section-frame1 .main-s1 .main-s1-right .news .tab-news a:hover, .section-frame1 .main-s1 .main-s1-right .news .tab-news a.active {
		font-size: 36px;
	}
	.section-frame1 .main-s1 .main-s1-right .news .tab-news .form-search .form-control {
		font-size: 26px;
	}
	.section-frame1 .main-s1 .main-s1-right .news .content-news .row {
		font-size: 36px;
	}
	.section-frame1 .main-s1 .main-s1-right .news .content-news .row .thumb img {
		width: 100%;
	}
	.section-frame1 .main-s1 .main-s1-right .news .content-news .row .col-2 {
		position: absolute;
		top: 0;
		right: 0;
	}
	.section-frame1 .main-s1 .main-s1-right .news .content-news .title a {
		font-size: 36px;
		width: 72%;
		display: block;
	}
	.pagination .page-link {
		color: #263c4a;
		font-size: 36px
	}
	.pagination .page-link.active {
		color: #fff;
		background-color: #0a1c39;
		border: none;
	}
}
/*----------------------------Page2---------------------------------*/
.section-frame2 {
	height: 955px;
	overflow: hidden;
	z-index: 20
}
.section-frame2 .content-hoatdong .item1 {
	margin-top: 42px;
}
.section-frame2 .content-hoatdong .item .left, .section-frame2 .content-hoatdong .item .right {
	width: 400px;
}
.section-frame2 .content-hoatdong .item .left {
	text-align: right;
}
.section-frame2 .content-hoatdong .item .left h2.title {
	margin-bottom: 0;
}
.section-frame2 .content-hoatdong .item .left h2.title a {
	font-family: 'iCielBCCubano', arial, tahoma;
	font-size: 30px;
	color: #fde48b;
	margin-bottom: 3px;
}
.section-frame2 .content-hoatdong .item .left .status {
	font-family: 'UTMCafeta', arial, tahoma;
	font-size: 26px;
	color: #c34a29;
}
.section-frame2 .content-hoatdong .item .left .status {
	font-family: 'UTMCafeta', arial, tahoma;
	font-size: 26px;
	color: #c34a29;
}
.section-frame2 .content-hoatdong .item .right {
	font-family: 'UTMCafeta', arial, tahoma;
	font-size: 28px;
	color: #feedd5;
}
.section-frame2 .content-hoatdong .item:nth-child(even) .right {
	font-family: 'UTMCafeta', arial, tahoma;
	font-size: 28px;
	color: #e38d55;
}
/*----------------------------Page3---------------------------------*/
.section-frame3 {
	height: 967px;
	overflow: hidden;
	z-index: 20
}
.section-frame3 .bxh-content {
	width: 1230px;
	height: 823px;
	background: url("../homepage/images/tbl-bxh.png") no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.section-frame3 .bxh-content .nav .canhan {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-canhan.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .canhan:hover, .section-frame3 .bxh-content .nav .canhan.active {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-canhan-hover.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .banghoi {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-banghoi.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .banghoi:hover, .section-frame3 .bxh-content .nav .banghoi.active {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-banghoi-hover.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .vohuan {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-vohuan.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .vohuan:hover, .section-frame3 .bxh-content .nav .vohuan.active {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-vohuan-hover.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .theluc {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-theluc.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .nav .theluc:hover, .section-frame3 .bxh-content .nav .theluc.active {
	width: 212px;
	height: 71px;
	background: url("../homepage/images/tab-theluc-hover.png") no-repeat;
	background-size: 100%;
}
.section-frame3 .bxh-content .tab-content .tab-pane .table {
	width: 1140px;
	margin: 16px auto;
	text-align: center;
	font-family: 'UTMCafeta', arial, tahoma;
	font-size: 24px;
	font-weight: 300;
}
.section-frame3 .bxh-content .tab-content .tab-pane .table tr td, .section-frame3 .bxh-content .tab-content .tab-pane .table thead th {
	overflow: hidden;
}
.section-frame3 .bxh-content .tab-content .tab-pane .table thead th {
	background-color: #942a00;
	color: #fff;
	font-size: 28px;
	font-weight: 300;
}
.section-frame3 .bxh-content .tab-content .tab-pane .table thead th .dropdown-menu {
	background-color: rgba(31, 4, 1, .8);
}
.section-frame3 .bxh-content .tab-content .tab-pane .table thead th .dropdown-menu li {
	padding: 0;
}
.section-frame3 .bxh-content .tab-content .tab-pane .table thead th .dropdown-menu .dropdown-item {
	color: #fff;
	font-size: 28px;
}
.section-frame3 .bxh-content .tab-content .tab-pane .table thead th .dropdown-menu .dropdown-item:hover {
	background-color: rgba(190, 64, 30, .8);
	color: #fff;
	font-size: 28px;
}
@media (max-width: 960px) {
	.section-frame3 .bxh-content {
		width: 960px;
		height: 830px;
		background: url("../homepage/images/tbl-bxh.png") no-repeat;
		background-size: 100% 100%;
		margin: 0 auto;
	}
	.section-frame3 .bxh-content .tab-content .tab-pane .table {
		width: 93%;
		margin: 0 auto;
		font-size: 26px;
	}
}
/*----------------------------Page4---------------------------------*/
.section-frame4 {
	height: 1044px;
	overflow: hidden;
	z-index: 20
}
.section-frame4 .content-monphai {
	height: auto;
}
.section-frame4 .content-monphai .swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.section-frame4 .content-monphai .swiper-slide {
	background-size: cover;
	background-position: center;
}
.section-frame4 .content-monphai .main {
	width: 1184px;
	height: 722px;
	background: url("../homepage/images/bg-slide-monphai.png") no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.section-frame4 .content-monphai .mySwiper2 {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.section-frame4 .content-monphai .mySwiper1 {
	height: 14%;
	box-sizing: border-box;
	padding: 10px 0;
	width: 82%;
	margin: 0 auto;
}
.section-frame4 .content-monphai .mySwiper1 .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 1;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	filter: grayscale(.5)
}
.section-frame4 .content-monphai .mySwiper1 .swiper-slide-thumb-active {
	opacity: 1;
	filter: grayscale(0)
}
.section-frame4 .content-monphai .monphai {
	margin-top: 50px;
}
.section-frame4 .content-monphai .monphai .description {
	width: 46%;
	text-align: center;
	padding: 10px;
	color: #0a1c39;
}
.section-frame4 .content-monphai .monphai .thumb {
	width: 46%;
	text-align: center;
}
.section-frame4 .content-monphai .swiper-button-next:after, .section-frame4 .content-monphai .swiper-button-prev:after {
	content: '';
}
.section-frame4 .content-monphai .thumb-slider {
	width: 1167px;
	background: url("../homepage/images/line-horiz.png") no-repeat;
	background-size: 90%;
	margin: 0 auto;
	background-position: center;
	position: relative;
}
.section-frame4 .content-monphai .thumb-slider .swiper-button-next, .section-frame4 .content-monphai .thumb-slider .swiper-button-prev {
	width: 58px;
	height: 40px;
}
@media (max-width: 960px) {
	.section-frame4 .content-monphai .main {
		width: 960px;
		height: 595px;
	}
	.section-frame4 .content-monphai .mySwiper2 {
		width: 76%;
		height: 100%;
		margin: 0 auto;
	}
	.section-frame4 .content-monphai .monphai {
		margin-top: 24px;
	}
	.section-frame4 .content-monphai .thumb-slider {
		width: 960px;
	}
	.section-frame4 .content-monphai .monphai .description p{
		height: 166px;
        overflow: auto;
        line-height: 33px;
}
}
/*----------------------------news---------------------------------*/
.section-frame1.news {
	height: 2224px;
	overflow: hidden;
	z-index: 20
}
.section-frame1.news .main-s1{
	margin-top: 460px;
}
.section-frame1.news .main-s1 .main-s1-right{
	margin-top: 100px;
}
.section-frame1.news .main-s1 .main-s1-right .news {
	width: 831px;
	height: 1340px;
	background: url("../homepage/images/frame-news-xxl.png") no-repeat;
	background-size: 100%;
	margin-top: 0;
	margin-left: -30px;
	overflow: hidden;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news {
	margin: 8px;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news a {
	font-size: 26px;
	color: #ffb5a7;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0 32px;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news a:hover, .section-frame1.news .main-s1 .main-s1-right .news .tab-news a.active {
	font-size: 26px;
	color: #fffcc8;
	text-shadow: 1px 1px 10px #ff8400, 1px 1px 10px #ff8400;
	text-transform: uppercase;
	font-weight: 300;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news .form-search {
	margin-left: 140px;
	position: relative;
	width: 300px;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news .form-search .form-control {
	border-right: none;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	border-color: #fae7bb;
	color: #fae7bb;
	font-size: 20px;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news .form-search .form-control::placeholder {
	color: #fae7bb;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-news .form-search .input-group .btn {
	border: solid 1px #fae7bb;
	border-left: none;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	margin: 0;
	padding: 0
}
.section-frame1.news .main-s1 .main-s1-right .news .content-news {
	color: #332e1b;
	width: 99%;
	margin: 32px auto;
}
.section-frame1.news .main-s1 .main-s1-right .news .content-news .title a {
	color: #263c4a;
	font-size: 24px;
	font-weight: bold;
}
.section-frame1.news .main-s1 .main-s1-right .news .content-news .row {
	border-bottom: dashed 1px #7f7f7f;
	width: 90%;
	margin: 16px auto;
}
.section-frame1.news .main-s1 .main-s1-right .news .content-news.details {
	width: 88%;
	margin: 24px auto;
	height: 92%;
	overflow-y: auto;
	overflow-x: hidden;
}
.section-frame1.news .main-s1 .main-s1-right .news .content-news.details h1.title {
	color: #263c4a;
	font-size: 28px;
	font-weight: bold;
	text-align: start;
}
.section-frame1.news .main-s1 .main-s1-right .news .content-news.details .date {
	color: #322e21;
	text-align: start;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-huongdan {
	width: 80%;
	margin: 8px auto;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-huongdan h2 {
	font-size: 26px;
	color: #fffcc8;
	text-shadow: 1px 1px 10px #ff8400, 1px 1px 10px #ff8400;
	text-transform: uppercase;
	font-weight: 300;
}
.section-frame1.news .main-s1 .main-s1-right .news .tab-huongdan .date {
	font-size: 20px;
	color: #ffb5a7;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .row {
	height: 370px;
	overflow-x: hidden;
	overflow-y: auto;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown {
	margin-bottom: 4px;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown .btn-hd {
	width: 286px;
	height: 47px;
	background: url("../homepage/images/btn-hd.png") no-repeat;
	background-size: 100%;
	font-family: 'UTMCafeta', arial, tahoma;
	font-size: 24px;
	font-weight: 300;
	color: #f9e4b6;
	border: none;
	position: relative;
	z-index: 1;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown .btn-hd:hover, .section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown .btn-hd:active, .section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown .btn-hd:focus {
	border: none;
	filter: brightness(150%);
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown-menu {
	background-color: rgba(31, 4, 1, 1);
	width: 100%;
	text-align: center;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown-menu li {
	padding: 0;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown-menu .dropdown-item {
	color: #fff;
	font-size: 24px;
}
.section-frame1.news .main-s1 .main-s1-left .lists-hd .dropdown-menu .dropdown-item:hover {
	background-color: rgba(190, 64, 30, .8);
	color: #fff;
	font-size: 24px;
}
@media (max-width: 960px) {
	.section-frame1.news {
		min-height: 2280px;
		height: auto;
	}
	.section-frame1.news .main-s1 .main-s1-right .news {
		width: 100%;
		margin: 0 0 48px 0;
		height: 1484px;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .tab-news a, .section-frame1.news .main-s1 .main-s1-right .news .tab-news a:hover, .section-frame1.news .main-s1 .main-s1-right .news .tab-news a.active {
		font-size: 36px;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .tab-news .form-search .form-control {
		font-size: 26px;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news .row {
		font-size: 36px;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news .row .thumb img {
		width: 100%;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news .row .col-2 {
		position: absolute;
		top: 0;
		right: 0;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news .title a {
		font-size: 36px;
		width: 72%;
		display: block;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news {
		height: 91%;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news.details .title a {
		font-size: 42px;
		width: 100%;
		display: block;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .content-news.details .date {
		font-size: 36px;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m {
		position: relative;
		width: 90%;
		margin: 186px auto 48px;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .form-search {
		margin-left: 140px;
		position: relative;
		width: 400px;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .form-search .form-control {
		border-right: none;
		border-top-left-radius: 24px;
		border-bottom-left-radius: 24px;
		border-color: #fae7bb;
		color: #fae7bb;
		font-size: 26px;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .form-search .form-control::placeholder {
		color: #fae7bb;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .form-search .input-group .btn {
		border: solid 1px #fae7bb;
		border-left: none;
		border-top-right-radius: 24px;
		border-bottom-right-radius: 24px;
		margin: 0;
		padding: 0
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .row {
		position: relative;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown {
		margin: 8px 0;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown .btn-hd {
		width: 415px;
		height: 72px;
		background: url("../homepage/images/btn-hd.png") no-repeat;
		background-size: 100%;
		font-family: 'UTMCafeta', arial, tahoma;
		font-size: 36px;
		font-weight: 300;
		color: #f9e4b6;
		border: none;
		position: relative;
		z-index: 1;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown .btn-hd:hover, .section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown .btn-hd:active, .section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown .btn-hd:focus {
		border: none;
		filter: brightness(150%);
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown-menu {
		background-color: rgba(31, 4, 1, 1);
		width: 100%;
		text-align: center;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown-menu li {
		padding: 0;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown-menu .dropdown-item {
		color: #fff;
		font-size: 34px;
	}
	.section-frame1.news .main-s1 .main-s1-right .lists-hd-m .dropdown-menu .dropdown-item:hover {
		background-color: rgba(190, 64, 30, .8);
		color: #fff;
		font-size: 34px;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .tab-huongdan h2 {
		font-size: 36px;
	}
	.section-frame1.news .main-s1 .main-s1-right .news .tab-huongdan .date {
		font-size: 30px;
	}
}
/*----------------------------Guide---------------------------------*/
.section-guide {
	max-width: 980px;
	max-height: 700px;
	overflow:hidden;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
.section-guide .nav-tabs .nav-link.active {
	font-size: 18px;
	font-weight: bold;
	color: #333;

}
.section-guide .nav-tabs .nav-link {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.section-guide .accordion-item {
	border: none;
}
.section-guide .accordion-button {
	font-size: 16px;
	background: rgb(145, 77, 77);
background: linear-gradient(0deg, rgb(145, 77, 77) 0%, rgb(146, 32, 4) 100%);
color: #fff;
}
.section-guide .accordion-body a {
	font-size: 14px;
	color: #333;
}
.section-guide .accordion-body a:hover, .section-guide .accordion-body a:focus {
	color: #d85600;
}
.section-guide .accordion-header {
	background: rgb(145, 77, 77);
background: linear-gradient(0deg, rgb(145, 77, 77) 0%, rgb(146, 32, 4) 100%);
}
.section-guide .accordion-button::after {
	filter: invert(100%);
}
.section-guide .tab-content {
	overflow-y: auto;
    overflow-x: hidden;
    height: 408px;
}
.section-guide .breadcrumb, .section-guide .breadcrumb a {
	font-size: 14px;
	color: #fff;
}
.section-guide .guide-content {
	font-size: 14px;
	color: #fff;
	background-color: rgba(190, 64, 30, .5);
	padding: 16px;
	height: 540px;
    overflow: auto;
}
/*----------------------------Download content---------------------------------*/
.download-content {
	width: 100%;
	max-height: 1340px;
	background: url("../homepage/images/frame-news-xxl.png") no-repeat;
	background-size: 100%;
	margin-top: 0;
	overflow: hidden;
	color: #241615;
	padding: 100px;
	text-align: center;
	font-size: 24px;
	font-family: sans-serif, Verdana, Tahoma;
}
/*----------------------------footer---------------------------------*/
.footer {
	color: #faf7eb;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding: 20px;
	background: url("../homepage/images/bg-footer.jpg") no-repeat;
	background-size: 100%;
	height: 400px;
}
.footer.news {
	color: #faf7eb;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding: 20px;
	background: url("../homepage/images/bg-news-4.jpg") no-repeat;
	background-size: 100%;
	height: 400px;
}
@media (max-width: 960px) {
	.footer, .footer.news {
		background: url('') #1e0201;
	}
}
/*----------------------------Fixed bottom---------------------------------*/
.neo-bottom {
	display: none;
}
@media (max-width: 960px) {
	.neo-bottom {
		background: url("../homepage/images/bg-neo-bottom.png") no-repeat;
		width: 960px;
		height: 150px;
		background-size: 100%;
		background-position: center bottom;
		transform-origin: left bottom;
		display: block;
	}
	.neo-bottom .napthe {
		margin-top: -28px;
	}
}

/*----------------------------Menu Fixed right---------------------------------*/
.download {
	align-items: flex-start;
	background: url(../homepage/images/frame-download.png) no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	height: 515px;
	position: fixed;
	right: -15px;
	top: 55%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 238px;
	z-index: 50;
	justify-content: center;
}
.download::before {
	content: '';
	width: 2px;
	height: 23vw;
	position: absolute;
	top: -22.5vw;
	right: 132px;
	background-color: #d6a031;
	opacity: .6;
}

@media (max-width:991.98px) {
	.download {
		display: none
	}
}
.download  .btn-backtotop {
	margin-top: 1.3125rem;
	transition: all .2s ease-in-out;
	margin-left: 72px;
}
.download .btn-taigame {
	padding-left: 10px;
	padding-top: 24px;
}
.download .btn-napthe {
	padding-left: 28px;
	padding-top: 18px;
}

/*----------------------------Animation---------------------------------*/
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.99);
		opacity: 1;
		transform-origin: center center;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
		transform-origin: center center;
	}
	100% {
		transform: scale(0.99);
		opacity: 1;
		transform-origin: center center;
	}
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.95);
		opacity: 1;
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		right: -200px;
	}
	100% {
		opacity: 1;
		right: 8px;
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		right: -200px;
	}
	100% {
		opacity: 1;
		right: 8px;
	}
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(30deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}
@keyframes flipInX {
	0% {
		transform: perspective(400px) rotateX(30deg);
		opacity: 0;
	}
	100% {
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}
.flipInX {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(200px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(200px)
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.fadeInUp {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes flipInY {
	0% {
		bottom: -200px;
		opacity: 0;
	}
	100% {
		bottom: 110px;
		opacity: 1;
	}
}
@keyframes flipInY {
	0% {
		bottom: -200px;
		opacity: 0;
	}
	100% {
		bottom: 110px;
		opacity: 1;
	}
}
.flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}
@-webkit-keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
}
@keyframes flipOutX {
	0% {
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
	100% {
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
}
.flipOutX {
	-webkit-animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	animation-name: flipOutX;
	backface-visibility: visible !important;
}
@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		opacity: 0;
	}
	60% {
		-webkit-transform: translateX(-20%) skewX(30deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}
@keyframes lightSpeedIn {
	0% {
		transform: translateX(-100%) skewX(-30deg);
		opacity: 0;
	}
	60% {
		transform: translateX(20%) skewX(30deg);
		opacity: 1;
	}
	80% {
		transform: translateX(0%) skewX(-15deg);
		opacity: 1;
	}
	100% {
		transform: translateX(0%) skewX(0deg);
		opacity: 1;
	}
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.animated.lightSpeedIn {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
	}
}
@keyframes rollIn {
	0% {
		opacity: 0;
		transform: translateX(-100%) rotate(-120deg);
	}
	100% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
}
.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}
@-webkit-keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(0);
		opacity: 1;
	}
}
@keyframes rotateInDownLeft {
	0% {
		transform-origin: left bottom;
		transform: rotate(-90deg);
		opacity: 0;
	}
	100% {
		transform-origin: left bottom;
		transform: rotate(0);
		opacity: 1;
	}
}
.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}
.pulse-reverse:hover, .pulse-reverse:focus {
	-webkit-animation-name: pulse-reverse;
	animation-name: pulse-reverse;
	transition: all 0.2s ease-in-out;
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	filter: saturate(1);
}
@-webkit-keyframes pulse-reverse {
	from {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes pulse-reverse {
	from {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(200px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInRightBig {
	0% {
		opacity: 0.4;
		transform: translateX(200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}
@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: skewX(9deg);
	}
	10% {
		-webkit-transform: skewX(-8deg);
	}
	20% {
		-webkit-transform: skewX(7deg);
	}
	30% {
		-webkit-transform: skewX(-6deg);
	}
	40% {
		-webkit-transform: skewX(5deg);
	}
	50% {
		-webkit-transform: skewX(-4deg);
	}
	60% {
		-webkit-transform: skewX(3deg);
	}
	70% {
		-webkit-transform: skewX(-2deg);
	}
	80% {
		-webkit-transform: skewX(1deg);
	}
	90% {
		-webkit-transform: skewX(0deg);
	}
	100% {
		-webkit-transform: skewX(0deg);
	}
}
@keyframes wiggle {
	0% {
		transform: skewX(9deg);
	}
	10% {
		transform: skewX(-8deg);
	}
	20% {
		transform: skewX(7deg);
	}
	30% {
		transform: skewX(-6deg);
	}
	40% {
		transform: skewX(5deg);
	}
	50% {
		transform: skewX(-4deg);
	}
	60% {
		transform: skewX(3deg);
	}
	70% {
		transform: skewX(-2deg);
	}
	80% {
		transform: skewX(1deg);
	}
	90% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(0deg);
	}
}
@-webkit-keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(.95);
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(.3);
	}
}
@keyframes bounceOut {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes light-slide-x {
	0% {
		background-position: -1900px -1900px
	}
	to {
		background-position: 1000px 1000px
	}
}
@keyframes light-slide-x {
	0% {
		background-position: -1900px -1900px
	}
	to {
		background-position: 1000px 1000px
	}
}
@-webkit-keyframes customAni1 {
	0%, 100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}
	10% {
		transform: rotate(50deg);
	}
	20%, 40%, 60% {
		transform: rotate(-70deg);
	}
	30%, 50%, 70% {
		transform: rotate(70deg);
		filter: brightness(200%);
	}
	80% {
		transform: rotate(-50deg);
	}
	90% {
		transform: rotate(50deg);
	}
}
@keyframes customAni1 {
	0%, 100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}
	10% {
		transform: rotate(3deg);
	}
	20%, 40%, 60% {
		transform: rotate(-5deg);
	}
	30%, 50%, 70% {
		transform: rotate(5deg);
		filter: brightness(200%);
	}
	80% {
		transform: rotate(-3deg);
	}
	90% {
		transform: rotate(3deg);
	}
}
@-webkit-keyframes customAni2 {
	0%, 20%, 40%, 60%, 80%, 100% {}
	10%, 30%, 50%, 70%, 90% {
		filter: brightness(150%);
	}
}
@keyframes customAni2 {
	0%, 20%, 40%, 60%, 80%, 100% {}
	10%, 30%, 50%, 70%, 90% {
		filter: brightness(150%);
	}
}
@-webkit-keyframes rotateY {
	0% {
		transform: rotateY(0deg);
	}
	20% {
		transform: rotateY(360deg);
	}
	40% {
		transform: rotateY(0);
	}
	60% {
		transform: rotateY(0);
	}
	80% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(0);
	}
}
@keyframes rotateY {
	0% {
		transform: rotateY(0deg);
	}
	20% {
		transform: rotateY(360deg);
	}
	40% {
		transform: rotateY(0);
	}
	60% {
		transform: rotateY(0);
	}
	80% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(0);
	}
}
.ani2 {
	-webkit-animation: ani2 5s linear infinite;
	animation: ani2 5s linear infinite;
}
@-webkit-keyframes ani2 {
	0% {
		right: 0
	}
	30% {
		right: -10px
	}
	60% {
		right: -5px
	}
	100% {
		right: 0
	}
}
@keyframes ani2 {
	0% {
		right: 0
	}
	30% {
		right: -10px
	}
	60% {
		right: -5px
	}
	100% {
		right: 0
	}
}
.blink {
	animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
	0% {
		opacity: 1;
		filter: brightness(1.2);
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
		filter: brightness(1.2);
	}
	100% {
		opacity: 1;
	}
}
@keyframes moveYDiv1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
